doctype html
html
	head
		title= title
		//- Materialize
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		//- CUSTOM.css
		link(rel='stylesheet', href='/css/style.css')
		//- JQuery
		script(src='https://code.jquery.com/jquery-3.0.0.min.js', integrity='sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=', crossorigin='anonymous')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")

		script(src='/js/home.js')
	body
		nav(id='navbar-landingpage')
			.nav-wrapper.z-depth-1
				a.brand-logo(href='/') 
					img(class='profile-img', src='images/mentorlogo.png')
				ul.right.hide-on-med-and-down
					li
						a.dropdown-button(href='#!', data-activates='dropdown1')
							| Dropdown
							i.material-icons.right arrow_drop_down
					li
						a(href='/') About
				a.button-collapse(href='/', data-activates='side-menu')
					i.material-icons list
				//- Dropdown Structure
				ul#dropdown1.dropdown-content
					li
						a.waves-effect.waves-light.btn(href='/auth/linkedin') Mentee Login
					li.divider
					li
						a.waves-effect.waves-light.btn(href='/auth/linkedin2') Mentor Login
				ul#side-menu.side-nav
					li
						a.waves-effect.waves-light.btn(href='/auth/linkedin') Mentee Login
					li
						a.waves-effect.waves-light.btn(href='/auth/linkedin2') Mentor Login
					li
						a(href='/') About
		.intro.z-depth-2
			.container.about
				h1 Hi there!
				.row
					form.col.s12
						.card
							.card-content
								.row
									.input-field.col.s4.offset-s2
										i.material-icons.prefix explore
										input#icon_prefix.validate(type='text')
										label(for='icon_prefix') Search a mentor
									.input-field.col.s4
										button.waves-effect.waves-light.btn(type='submit') Search
		.footer-copyright
			.container | © 2016 Copyright Text

