// /*COLOR PALETTE*/

// // WHEN I CHANGE COLOR PALLET, GOT TO http://www.w3schools.com/colors/colors_picker.asp AND PICK A DARKER HEX
// // FOR THIS VARIABLE!!
// $second-accent-color:  #ff3333;
// $primary-color-dark2:  #00454d;


// $primary-color-dark:   #0097A7;
// $primary-color:        #00BCD4;
// $primary-color-light:  #B2EBF2;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #FF5252;
// $primary-text-color:   #212121;
// $secondary-text-color: #727272;
// $divider-color:        #B6B6B6;

$second-accent-color:  #005eff;
$primary-color-dark2:  #691616;

$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #F5F5F5;
$primary-color-text:   #FFFFFF;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;


body, html
{
    background-color: $primary-color-text !important;
}

/*NAVBAR STYLING*/

#navbar-landingpage {
    background-color: $primary-color-dark;
    .profile-img {
        width: 96px;
        height: 96px;
        margin: 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    #smallphoto {
        width: 50px; 
        height: 50px; 
        border-radius: 100%; 
        margin-top: 5px;
    }
    #nobackground:hover {
        background-color: rgba(0,0,0,0) !important;
    }
    .bigphoto {
        width: 200px; 
        height: 200px; 
        border-radius: 100%;
        padding: 20px;
    }
    .btn:hover {
        background-color: $second-accent-color;
    }
}

/*BUTTONS*/
.waves-effect {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: $accent-color ;
}

.waves-effect {
    &:hover, &:focus {
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: $accent-color ;
    }
}

.dropdown-content li {
    a {
        color: $primary-color-text;
        background-color: $accent-color;
    }
    span {
        color: $primary-color-text;
        background-color: $accent-color;
    }
}


/*INPUT FIELDS*/
.input-field {
    .prefix.active {
        color: $primary-text-color;
    }
    label {
        color: $primary-text-color;
    }
    input {
        color: $primary-text-color;
        border-bottom: 2px solid $primary-text-color;
        box-shadow: 0 1px 0 0 $primary-text-color;
    }
    input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 2px solid $primary-text-color;
        box-shadow: 0 1px 0 0 $primary-text-color;
        color: $primary-text-color;
    }
    i {
        color: $primary-text-color;
    }
    input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label,
    i:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        color: $primary-color-light;
    }
}

/*INTRO*/
.intro {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 9%;
    background-color: $primary-color-light;
    h1 {
        font-weight: 900;
        text-transform: uppercase;
        color: $primary-text-color;
    }
    h5 {
        font-weight: 900;
        text-transform: uppercase;
        color: $primary-text-color;
    }
    .col.l3 {
        background-color: $primary-color-dark2;
        color: $primary-color-text;
        border-radius: 2px;
        margin-bottom: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .col.l9 {
        margin-bottom: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;

    }
    .col.l4 {
        margin-top: 10px;
        margin-bottom: 8px;
    }
    .col.m7 {
        .row {
            margin-bottom: 0px;
            input {
                margin: 0px;
                height: 1rem;
                color: grey;
            }
        }
    }
    .summary {
        text-align: left;
        padding: 20px;
        textarea {
            height: 300px;
        }
    }
    #jobsummary {
        text-align: left;
        textarea {
            height: 200px;
        }
    }
}

// PROFILE INTRO
#homeintro {
    padding-top: 4%;
    padding-bottom: 0%;
}

// ABOUT SECTION PROFILE

.about {
    text-align: center;
    .col {
        margin-bottom: 24px;
    }
    h5 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    hr {
        width: 40px;
        margin-bottom: 45px;
    }
    .card {
        text-align: center;
        img {
            margin-bottom: 15px;
            border-radius: 100%;
        }
    }
}

.collapsible-body {
    background-color: $primary-color-text;
}

.collapsible {
    .collapsible-header.active {
        background-color: $primary-color-dark2;
        color: $primary-color-text;
    }  
}


//FOOTER

.footer-copyright
{
	padding-top: 0px;
    .container {
        text-align: center;
    }
}





